<div class="logo"></div>
<div class="navbar navcustom navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header d-md-inline-block">
            <a href='/' class="nav-item nav-link title ml-md-3"></a>
            <span class='movieday'> Netflix</span>
        </div>
  
        <div class="nav navbar-nav navbar-right">
          <ul class="nav d-flex ullisting">
            <li class="lilisting"><a class="nav-item other" href="/">Home</a></li>
            
          </ul>
        </div>
    </div>
  </div>
  <hr>
  <div class="d-md-inline-block listtags">
    <a href="/#popular">Popular Movies</a>
    <a href="/#upcoming">Up Coming</a>
    

  </div>
  <hr>